/* Translate Frontend */
#translate-frontend-grid table tr td{
    vertical-align: middle;
}
.translation-save-form .nav > li > a{
    padding: 1px 8px;
}

/* Update Slider */
#gallery-images-sortable li{
    width: 100px;
    height: 100px;
}

#gallery-images-sortable li img{
    width: 80px;
    height: 80px;
}

/* Edit User Profile and Blog post form*/
.image-file-upload{
    padding: 0;
}
.image-file-upload .file-preview-frame,.image-file-upload .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.image-file-upload .file-input {
    display: table-cell;
    text-align: center;
}

.image-file-upload .file-input img {
    width: auto;
    height: 160px;
}

/* TODO: Extract translation-tabs to a Widget Asset */
.translation-tabs li{
    font-weight: bold;
}


/* TABs */
.nav-tabs-custom{
    background: none !important;
}